@font-face {
    font-family: "robotoBold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "avenirBold";
    src: url("../fonts/AVENIR/AvenirNextLTPro-Bold.otf");
}

@font-face {
    font-family: "avenirCn";
    src: url("../fonts/AVENIR/AvenirNextLTPro-Cn.otf");
}

@font-face {
    font-family: "avenirMediumCn";
    src: url("../fonts/AVENIR/AvenirNextLTPro-MediumCn.otf");
}

@font-face {
    font-family: "avenirReg";
    src: url("../fonts/AVENIR/AvenirNextLTPro-Regular.otf");
}

*{
    outline: none;
}

textarea {
    user-select: none;
}

body{
    position:relative;
    min-height:100vh;
    padding-bottom: 200px;
}
.background{
    background: linear-gradient(90deg, rgba(106,129,242,1) 0%, rgba(56,20,158,1) 100%);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: -1;
}
/* NAVIGATION */

.navBackground {
    background-color: rgba(46,46,46,0.13);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchBarContent {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logoContent {
    flex: 1;
}

.searchBar {
    background-color: rgba(255,255,255,0.7);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    font-size: 25px;
    width: 100%;
    position: relative;
}

.searchBar button {
    position: absolute;
    right: 10px;
}

.menu {
    flex: 1;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.menu img {
    height: 30px;
    width: auto;
    border-radius: 5px;
}

.cat {
    color: white;
    font-size: 23px;
    text-decoration: none;
    font-weight: bold;
}

.cat:hover {
    color: #b7b7b7;
    text-decoration: none;
}

/* HOMEPAGE */

.homePageTitle{
    text-align: center;
    color: gold;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    font-family: "avenirBold";
    margin-top: 50px;
}

.homePageTitle .siteName {
    color: white;
}

.homePagePathContent {
    padding: 50px;
    margin-top: 150px;
    padding-bottom: 600px;
}

.homePageBlocText {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.iconHomePage {
    font-size: 80px;
    color: gold;
    margin-right: -60px;
}

.iconHomePageCrown {
    font-size: 80px;
    color: gold;
}

.firstSVG {
    position: relative;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    margin: 30px 0 30px 0;
}

.secondSVG {
    position: relative;
    width: 20%;
    left: 50%;
    height: auto;
    margin: 40px 0 40px 0;
}

.homePagePrincipalText {
    font-size: 70px;
    color: black;
    font-family: "avenirBold";
}

.whiteText {
    color: white;
}

.goldText {
    color: gold;
}

.transparentText {
    font-size: 40px;
    color: white;
    font-family: "avenirBold";
    opacity: 0.6;
    font-style: italic;
}

.homePageButton {
    color: white;
    border: 8px solid gold;
    font-size: 60px;
    border-radius: 100px;
    padding: 30px 80px 30px 80px;
    font-family: "avenirBold";
    text-decoration: none;
    margin-top: 200px;
    margin-bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.1s all ease-in-out;
}

.homePageButton:hover {
    color: white;
    filter: brightness(60%);
}

/* TUTORIAL PAGE */

.mainContent {
    display: flex;
    flex-direction: row;
    padding:35px;
    margin-top: 50px;
}

.secondContent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.secondContent>div {
    flex: 1;
    text-align: center;
}

.secondContent>div>h3 {
    flex: 1;
    margin-bottom: 30px;
}

.secondContent>div>a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px 50px 10px 50px;
    border-radius: 100px;
    transition: 0.2s all ease-in-out;
    font-size: 23px;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
}

.secondContent>div>a:hover {
    filter: brightness(80%);
}

.elementCase {
    background-color: white;
    padding: 30px;
    margin: 15px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
}

.elementCase .searchBar {
    background-color: rgb(208 208 208 / 70%);
}

.createTutorial a {
    background-color: #6597ff;
}

.viewCategory a {
    background-color: #b265ff;
}

.tutorialsContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
}

.tutorialCard {
    flex: 0 0 40%;
    margin: 10px;
    background-color: #6f42c1;
    transition: 0.1s all ease-in-out;
    height: 200px;
    position: relative;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
}

.tutorialCard:hover {
    filter: brightness(50%);
}

.tutorialCard .title {
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    padding: 20px 5px 20px 5px;
    color: white;
    font-weight: bold;
    border: 0;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    font-size: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tutorialCard .tutoCategory {
    position: absolute;
    top: 0;
    right: 5px;
    transform: translateY(-50%);
    background-color: #4408b1;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    box-shadow: 4px 2px 17px 0px rgb(0 0 0 / 48%);
}

.customCaseSearch {
    background-color: rgb(208 208 208 / 70%);
}

/* FOOTER */

footer {
    background-color: #505050;
    padding-bottom: 200px;
    color: white;
    font-family: "avenirCn";
    position: absolute;
    width: 100%;
    bottom:0;
    left:0;
}

footer div {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    top: 50%;
    position: absolute;
    transform: translate(50px, -50%);
}

/*Markdwn*/
/*========================Tutorial edit========================*/
#TutoEditTitle{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    text-transform: uppercase;
    font-family: "avenirBold";
}
.TutoEditChoixContainer{
    margin-right: auto;
    margin-left: auto;
    max-width: 530px;
    min-width: 530px;

}

.TutoEditTitle>div>input{
    border: none;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 10px;
    height: 40px;
}

.TutoEditSelect>div>select{
    border: none;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 10px;
    height: 40px;
}
.TutoEditSelect>div>label{
    color: rgba(255,255,255,1);
    margin-left: 15px;
}

.TutoEditisPublished{
    color:white;
    font-weight: bold;
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.TutoEditisPublished>div>div{
    background-color: rgba(255, 255, 255, 0);
    border: none
}
.TutoEditisPublished>div>div>label{
    color:white;
    margin-right: 60px;
    font-size: 24px;
    font-weight: bold;
}
.TutoEditisPublished>div>div>input{
    margin-right: 6px;
}

.TutoEditForm{
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 50px;
    padding : 0;    
    display: flex;
    flex-direction: row;
}

.TutoEditForm div { 
    flex: 1;
}

.TutoEditForm>div>textarea{
    height: 60vh;
    margin : 0;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px; 
    padding: 20px;
}

.markDownPreview {
    padding: 20px;
}

.TutoEditMd{
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    color: white;
}
.TutoEditMd>a{
    color: white;
}
/*========================Tutorial view========================*/
#TutoViewTitre{
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 10vw;
    font-size: 100px;
    text-transform: uppercase;
    font-family: "avenirBold";

}

#TutoViewAuthor{
    margin-top: -15px;
    color: white;
    margin-left: 10vw;
}

.TutoViewSection{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}

.TutoViewdate{
    margin-top: -5px;
    color: white;
    margin-left: 10vw;
}

.TutoViewdate2{
    margin-top: -20px;
    color: white;
    margin-bottom: 30px;
    margin-left: 10vw;
}

/* LOGIN PAGE */

.loginPage {
    margin-top: 50px;
    font-family: 'avenirBold';
}

.loginPage h1 {
    text-align: center;
    font-size: 60px;
}

.loginPage form, .loginPage .form {
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.loginPage input {
    border-radius: 100px;
    font-size: 25px;
    padding: 10px 30px 10px 30px;
    border: none;
    margin-top: 30px;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
}

.loginPage input:focus {
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
}

.loginPage .submitButton {
    color: white;
    padding: 10px;

    background-color: #a557f3;
    border: none;
    font-size: 30px;
    margin-top: 50px;
    width: 100%;
    border-radius: 100px;
    transition: 0.1s all ease-in-out;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
}

.loginPage .submitButton:hover {
    filter: brightness(70%);
}

.loginPage .register {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.loginPage .register a {
    text-decoration: none;
    color: gold;
    transition: 0.1s all ease-in-out;
}

.loginPage .register a:hover {
    filter: brightness(70%);
}

.alreadyLogged {
    font-size: 50px;
    color: white;
    text-align: center;
    height: 100%;
}

.alreadyLogged span {
    color: gold;
}

.alreadyLogged a {
    color: white;
    border: none;
    background-color: #a557f3;
    font-size: 40px;
    border-radius: 100px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    transition: 0.1s all ease-in-out;
    margin-top: 300px;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
}

.alreadyLogged a:hover {
    filter: brightness(70%);
}

.loginPage label {
    margin-top: 30px;
    font-size: 20px;
    color: white;
}

#registration_form_birthday {
    border-radius: 100px;
    font-size: 23px;
    padding: 10px 30px 10px 30px;
    border:none;
    display: flex;
}

#registration_form_birthday select {
    flex: 1;
    border: none;
    margin: 0 10px 0 10px;
}

/* SEARCH MODAL */

.searchModal {
    position: fixed;
   /* top: 130px;*/
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #f3f3f3;
   /* border-radius: 30px;*/
    width: 60%;
    text-align: center;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
   /* border: 2px solid black;*/
    --after-left: 0px;
}

.searchModal a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
}

.searchModal a:hover {
    color: darkblue;
}

.searchModal:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: #f3f3f3;
    left: var(--after-left);
    transform: translateY(-50%) rotate(45deg);
    top: 0;
    z-index: -1;
  /*  border-top: 2px solid black;
    border-left: 2px solid black;*/
}

/* QUIZ */

.playQuiz {
    text-align: center;
    position: relative;
    width: 80%;
    left: 10%;
   /* transform: translateX(-50%);*/
    font-family: 'avenirBold';
    margin-top: 100px;
    line-height: 60px;
}

.playQuiz h3 {
    font-size: 50px;
    color: white;
}

.playQuiz a {
    position: relative;
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 15px 50px 15px 50px;
    background-color: #a557f3;
    border: none;
    margin-top: 50px;
    border-radius: 100px;
    transition: 0.1s all ease-in-out;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
}

.playQuiz a:hover {
    filter: brightness(70%);
}

.quizForm {
    width: 80%;
    position: relative;
    left: 10%;
    font-family: 'avenirBold';
}

.quizForm h2 {
    margin-top: unset;
    margin-bottom: unset;
    line-height: unset;
    padding: 20px 0 20px 0;
    text-align: center;
    color: white;
    font-size: 70px;
}

.questionBloc {
    position: relative;
    background-color: white;
    border-radius: 5px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    font-size: 25px;
    border-top: 10px solid gold;
    text-transform: capitalize;
    margin-top: 50px;
}

.answerBloc {
    margin-top: 30px;
    font-family: 'avenirReg';
    position: relative;
}

.answerBloc .answerName {
   /* position: absolute;*/
    position: relative;
    width: auto;
    padding: 3px 12px 3px 12px;
    border: 2px solid black;
    transition: 0.04s all ease-in-out;
}

.answerBloc .answerName:hover {
    cursor: pointer;
}

.answerBloc .input {
   display: none;
}

.selectAnswer {
    background-color: gold;
    border-color: gold !important;
}

.submitQuiz {
    font-size: 30px;
    color: white;
    padding: 15px 50px 15px 50px;
    background-color: gold;
    border: none;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 100px;
    transition: 0.1s all ease-in-out;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.submitQuiz:hover {
    filter: brightness(70%);
    cursor: pointer;
}

/* QUESTIONS FORM */

.questions {
    position: relative;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'avenirBold';
    margin-top: 200px;
}

.questions h2 {
    font-size: 70px;
}

.questions i {
    font-size: 20px;
    color: rgba(238, 238, 238, 0.76);
}

.addQuestionButton {
    font-size: 30px;
    color: white;
    padding: 15px 50px 15px 50px;
    background-color: rgb(68, 0, 255);
    border: none;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 100px;
    transition: 0.1s all ease-in-out;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.questions hr {
    margin-top: 50px;
    margin-bottom: 30px;
    height: 5px;
}

.questions input[type="text"] {
    border-radius: 100px;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    border: none;
    margin-top: 10px;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
}

.answerBlocQuestionForm {
    margin: 30px;
    padding: 30px;
    background-color: rgba(189, 189, 189, 0.4);
    border-radius: 5px;
}

.answerBlocQuestionForm input[type="text"] {
    margin-bottom: 30px;
}

.answerBlocQuestionForm label {
    font-size: 20px;
}

.answerBlocQuestionForm>div>div {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-evenly;
}

.radioDiv input{
    margin-right: 20px;
}

.removeAnswerButton {
    font-size: 15px;
    color: white;
    padding: 10px 40px 10px 40px;
    background-color: rgb(255, 75, 75);
    border: none;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: 0.1s all ease-in-out;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
}

.addAnswerButton {
    font-size: 15px;
    color: white;
    padding: 10px 40px 10px 40px;
    background-color: rgb(76, 0, 255);
    border: none;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: 0.1s all ease-in-out;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
    margin-right: 30px;
}

.registerFormQuestion {
    display: flex;
    justify-content: space-evenly;
}

.submitFormQuestions {
    font-size: 25px;
    color: white;
    padding: 10px 40px 10px 40px;
    background-color: rgb(76, 0, 255);
    border: none;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: 0.1s all ease-in-out;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
    margin-right: 30px;
}

.registerFormQuestion a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 10px 40px 10px 40px;
    background-color: rgb(255, 75, 75);
    border: none;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: 0.1s all ease-in-out;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 48%);
}

.displayNone {
    display: none;
}


/*TutoView Like + Bookmark*/
.rowbutton{
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
}

.LikeButton>a{
    text-decoration:none; 
    border:none;
    margin:none;
}

.BookMarkButton{
    margin-left: 1vw;
    text-decoration:none; 
}
.BookMarkButton>a{
    border:none;
    margin: none;
}

.coeurblanc{
    color:white;
}
.coeurjaune{
    color:gold;
}

/*TITLE*/
.placeTitle{
    margin-left: 3vw;
}

/*Catégorie*/
.categorieList{
    background-color: #6011f3;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    width: auto; 
    transition: 0.5 s all ease-in-out;   
}

.categorieList:hover{
    /* padding: 8px 16px 8px 16px;
    font-size: 18px; */
    color: white;
    background-color: #3b069d;
}

/*Page USER*/
.BookMarkList{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    background-color: white;
    border-radius: 20px;
    width:fit-content; 
    padding-right: 100px;
    padding-left: 10px;
}

.BookMarkList>a{
    background-color: #6011f3;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    width:fit-content; 
    transition: 0.5 s all ease-in-out;
}
.BookMarkList>a:hover{
    /* padding: 8px 16px 8px 16px;
    font-size: 18px; */
    color: white;
    background-color: #3b069d;
}

.titrePartieUser{
    margin-bottom: -5px;
    margin-top: 10px;
    margin-left: 15;
}

.placementuser{
    margin-left: 15px;
    margin-top: 10px;
}

.mywallet{
    color :rgb(17, 6, 44);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 20px;
}

.colorcoins{
    color:gold;
}

.boutonuser>a{
    background-color: #0e0323;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    width:fit-content; 
    transition: 0.5 s all ease-in-out;
}
.boutonuser>a:hover{
    /* padding: 8px 16px 8px 16px;
    font-size: 18px; */
    color: white;
    background-color: #3b069d;
}

.boutonuserlogout>a{
    background-color: #e63904;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    width:fit-content; 
    transition: 0.5 s all ease-in-out;
}
.boutonuserlogout>a:hover{
    /* padding: 8px 16px 8px 16px;
    font-size: 18px; */
    color: white;
    background-color: #9d0b06;
}

.NomUser{
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 70px;
}



/*TABLEAU*/
.tableUser {
    border: 1px solid #6495ed;
    border-collapse: collapse;
    width: 35%; 
    margin-bottom: 10px;
}

.thuser { /* En-tête des colonnes */
    font-family: "Century gothic";
    font-size:17px;
    border: 1px solid #6495ed;
    width: 20%;
    padding: 5px;
    background-color: #D0E3FA;
}

.tduser { /* Cellules */
    font-family: sans-serif;
    border: 1px solid #6495ed;
    width: 20%;
    padding: 5px;
    text-align: center;
}

.boutonback{
    background-color: #e63904;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    width:fit-content; 
    transition: 0.5 s all ease-in-out;
}
.boutonback:hover{
    /* padding: 8px 16px 8px 16px;
    font-size: 18px; */
    color: white;
    background-color: #9d0b06;
}

.boutoncreate{
    background-color: #04e666;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    width:fit-content; 
    transition: 0.5 s all ease-in-out;
}
.boutoncreate:hover{
    /* padding: 8px 16px 8px 16px;
    font-size: 18px; */
    color: white;
    background-color: #069d54;
}







