{% extends 'base.html.twig' %}

{% block title %}Tutoriels{% endblock %}

{% block body %}
    <h1 id="TutoViewTitre">{{ tutorial.title }}</h1>
    <h4 id="TutoViewAuthor" > Author : {{ tutorial.author }}</h4>

    <section class="TutoViewSection"> 

        {% apply markdown_to_html %}
            {{ tutorial.content }}     
        {% endapply %}
    </section>

    <div class="elementCase playQuiz">
        <h3>Testez votre compréhension du tutoriel</h3>
        <a href="{{ path('tutorial_play_quiz', {'id': tutorial.id}) }}">Répondre aux questions du Quiz!</a>
    </div>

{% endblock %}