{% extends 'base.html.twig' %}

{% block title %}{% trans %}navbar.tutorials{% endtrans %}{% endblock %}

{% block body %}
{{ form_start(achievementForm) }}
{{ form_end(achievementForm) }}
<a href="{{ path('achievement_list') }}">{% trans %}user.achievement.back{% endtrans %}</a>
{% endblock %}