{% extends 'base.html.twig' %}

{% block title %}HowTo?{% endblock %}

{% block body %}

    <div class="homePageTitle">
        <span>Welcome to</span>
        <span class="siteName">HowTo?</span>
    </div>

    <section class="homePagePathContent">

        <div class="homePageBlocText">
            <i class="iconHomePage fas fa-book"></i>
            <div class="homePageBloc homePagePrincipalText">
                Learn new<br/>
                <span class="whiteText">SKILLS</span> quickly
            </div>

            <div class="homePageBloc transparentText">
                Learn new skills from<br/>
                user's tutorials
            </div>
        </div>

        <svg class="firstSVG" xmlns="http://www.w3.org/2000/svg" width="1121.834" height="554.519" viewBox="0 0 1121.834 554.519">
            <path id="Path_4" data-name="Path 4" d="M422.555,826.936c-9.087,161.3,376.878,274.179,586.528,249.781s495.221,111.06,504.324,273.1" transform="translate(-407.39 -811.116)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="30" stroke-dasharray="70 80" opacity="0.5"/>
        </svg>


        <div class="homePageBlocText">
            <div class="homePageBloc transparentText">
                Create new tutorials<br/>
                for the community
            </div>

            <i class="iconHomePage fas fa-user-friends"></i>
            <div class="homePageBloc homePagePrincipalText">
                Share your<br/>
                </p><span class="whiteText">KNOWLEDGE</span>
            </div>
        </div>

        <svg class="secondSVG" xmlns="http://www.w3.org/2000/svg" width="573.175" height="449.276" viewBox="0 0 573.175 449.276">
            <path id="Path_5" data-name="Path 5" d="M1511.443,1232.217c-9.087,122.677-240.241,169.792-311.931,171.756-165.842,4.544-225.116,116.443-229.66,245.936" transform="translate(-954.334 -1216.15)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="30" stroke-dasharray="70 80" opacity="0.5"/>
        </svg>

        <div class="homePageBlocText">
            <div class="homePageBloc text-center">
                <i class="iconHomePageCrown fas fa-crown"></i>
                <div class="homePagePrincipalText">
                    <span class="goldText">WIN</span> price<br/>
                    and upgrade<br/>
                    your <span class="whiteText">PROFILE</span>
                </div>
            </div>
        </div>

        <a class="homePageButton" href="{{ path("tutorial_list")}}">DISCOVER</a>

    </section>

{% endblock %}
