{% extends 'base.html.twig' %}

{% block title %}Tutorial website{% endblock %}

{% block body %}

    <h2 class="display-3 text-center text-white mt-5">Les 10 derniers tutoriels...</h2>

    {% for tuto in tutos %}
        <h2>{{ tuto.title }}</h2>
    {% endfor %}

{% endblock %}
