{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xl-12 col-md-8">
        <div class="card card-default card-shadow">
            <div class="card-header">
                <div class="card-title">
                    <h2>My scores</h2>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tutorial</th>
                            <th>Score</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for score in scores %}
                        <tr>
                            <td>{{ score.tutorial.title|raw }}</td>
                            <td>{{ score.score|raw }}</td>
                            <td>{{ score.playedAt|date("d/m/Y h:i:s") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
