{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xl-12 col-md-8">
        <div class="card card-default card-shadow">
            <div class="card-header">
                <div class="card-title">
                    <h2>{% trans %}user.my_scores.my_scores{% endtrans %}</h2>
                </div>
            </div>
            <div class="card-body">
                <table class="tableUser">
                    <thead class="theaduser">
                        <tr class="truser">
                            <th class="thuser">{% trans %}user.my_scores.tutorial{% endtrans %}</th>
                            <th class="thuser">{% trans %}user.my_scores.score{% endtrans %}</th>
                            <th class="thuser">{% trans %}user.my_scores.date{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody class="tbodyuser">
                    {% for score in scores %}
                        <tr class="truser">
                            <td class="thuser">{{ score.tutorial.title|raw }}</td>
                            <td class="thuser">{{ score.score|raw }}</td>
                            <td class="thuser">{{ score.playedAt|date("d/m/Y h:i:s") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="boutonback" href="{{ path('user_account') }}">{% trans %}user.my_scores.back{% endtrans %}</a>

            </div>
        </div>
    </div>
{% endblock %}
