{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xl-12 col-md-8">
        <div class="card card-default card-shadow">
            <div class="card-header">
                <div class="card-title">
                    <h2>{% trans %}user.my_tutorials.my_tutorials{% endtrans %}</h2>
                </div>
            </div>
            <div class="card-body">
                <table class="tableUser">
                    <thead class="theaduser">
                        <tr class="truser">
                            <th class="thuser">{% trans %}user.my_tutorials.title{% endtrans %}</th>
                            <th class="thuser"></th>
                        </tr>
                    </thead>
                    <tbody class="tbodyuser">
                    {% for tutorial in tutorials %}
                        <tr class="truser">
                            <td class="thuser">{{ tutorial.title|raw }}</td>
                            <td class="thuser"><a href="{{ path('tutorial_edit', {'id': tutorial.id}) }}" class="link-create">{% trans %}user.my_tutorials.edit{% endtrans %}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="boutoncreate" href="{{ path('tutorial_create') }}">{% trans %}user.my_tutorials.create{% endtrans %}</a>
                <a class="boutonback" href="{{ path('user_account') }}">{% trans %}user.my_tutorials.back{% endtrans %}</a>

            </div>
        </div>
    </div>
{% endblock %}
